@import url("fonts/fonts.css");

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Lexend Deca";
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(238, 238, 238);
}

.spacer {
    flex-grow: 1;
}